
body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  background-color: #11999E;
}

.heading-section {
  font-weight: bold;
  color: #000;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3rem;
  padding: 50px 0 10px;
}

/* Form */
.form-container {
  border: 1px solid #E4F9F5;
  padding: 50px 60px;
  background-color: #E4F9F5;
  border-radius: 4px;
  text-align: center;
}

.container-fluid {
  padding: 0 8% 7%;
}

/* Button */
.btn {
  background-color: #11999E;
  color: #fff;
}
